Source: hyphanet
Section: net
Priority: optional
Maintainer: Hyphanet Maintainers <maintainers@hyphanet.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.hyphanet.org/
Vcs-Browser: https://github.com/hyphanet/fred
Vcs-Git: https://github.com/hyphanet/fred.git
Rules-Requires-Root: no

Package: hyphanet
Architecture: all
Depends: ${misc:Depends},
         default-jre-headless (>= 2:1.11) | java11-runtime-headless,
         adduser
Description: Anonymous peer-to-peer distributed data store
 Hyphanet (formerly Freenet) is free software which lets you anonymously
 share files, browse and publish "freesites" (websites accessible only
 through Hyphanet) and chat on forums, all without fear of censorship.
 .
 Hyphanet is decentralized to make it less vulnerable to attack, and if
 used in "darknet" mode, where users only connect to their friends, is
 very difficult to detect.
 .
 Communications by Hyphanet nodes are encrypted and are routed through
 other nodes to make it extremely difficult to determine who is
 requesting the information and what its content is.
